[Unit]
Description=Macro-Zero Service
Requires=macro-zero-startup.service
After=macro-zero-startup.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/macro-zero/src/macrozero.py
User=pi
RestartSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target
