[Unit]
Description=Macro-Zero Start Up Service

[Service]
Type=simple
ExecStart=/bin/bash /home/pi/macro-zero/scripts/macro-zero

[Install]
WantedBy=multi-user.target
