[Unit]
Description=Macro-Zero Service
Requires=macro-zero-startup.service
After=macro-zero-startup.service

[Service]
Type=simple
WorkingDirectory=/home/pi/macro-zero
ExecStart=/usr/bin/python3 /home/pi/macro-zero/src/macrozero.py
User=pi
RestartSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target
